<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">



  
  <div class="Page navigation text-center">
    <ul class="pagination">
      <li th:class="${page.firstPage}? 'disabled' : ''">
        <span th:if="${page.firstPage}">← Primeira</span>
        <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.totalPagina})}">← Primeira</a>
      </li>
      <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
        <span th:if="${not page.hasPreviousPage}">«</span>
        <a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number-2},size=${page.totalPagina})}"
		title="Vá para a página anterior">«</a>
      </li>
      <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
        <span th:if="${item.current}" th:text="${item.number}">1</span>
        <a th:if="${not item.current}" th:href="@{${page.url}(page=${item.number-1},size=${page.totalPagina})}">
        	<span th:text="${item.number}">1</span>
        </a>
      </li>
      <li th:class="${page.hasNextPage}? '' : 'disabled'">
        <span th:if="${not page.hasNextPage}">»</span>
        <a th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number},size=${page.totalPagina})}" 
        		title="Vá para a próxima página">»</a>
      </li>
      <li th:class="${page.lastPage}? 'disabled' : ''">
        <span th:if="${page.lastPage}">Última →</span>
        <a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages-1},size=${page.totalPagina})}">Última →</a>
      </li>
    </ul>
  </div>



</html>